[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywikibot = "*"
mwparserfromhell = "*"
sentry-sdk = "*"
python-dotenv = "*"
typing-extensions = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
ruff = "*"
pytest = "*"
build = "*"

[scripts]
make-dist = "bash -c 'rm -r dist 2>/dev/null; pyproject-build; twine upload dist/*'"
test = "pytest"
lint = "ruff check . --fix"
lint-ci = "ruff check ."
format = "ruff format ."
format-ci = "ruff format . --check"

[requires]
python_version = "3.12"
