[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywikibot = "*"
mwparserfromhell = "*"
sentry-sdk = "*"
python-dotenv = "*"
typing-extensions = "*"

[dev-packages]
sphinx = "*"
furo = "*"
ruff = "*"
pytest = "*"
build = "*"
pre-commit = "*"
pytest-timeout = "*"
mypy = "*"
types-requests = "*"
types-setuptools = "*"
twine = "*"
pytest-cov = "*"
sphinxext-opengraph = "*"
sphinx-copybutton = "*"
myst-parser = "*"
sphinx-lint = "*"

[scripts]
make-dist = "bash -c 'rm -r dist 2>/dev/null; python3 -m build; twine upload dist/*'"
test = "pytest"
lint = "ruff check . --fix"
lint-ci = "ruff check ."
format = "ruff format ."
format-ci = "ruff format . --check"
typelint = "mypy ."
docs-lint = "sphinx-lint docs"

[requires]
python_version = "3.12"
