name: Test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build-versioned-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install pipenv
        run: |
          pip install --upgrade pip
          pip install pipenv

      - name: Generate requirements.txt
        run: pipenv requirements --dev > requirements.txt

      - name: Upload requirements.txt
        uses: actions/upload-artifact@v4
        with:
          name: requirements.txt
          path: requirements.txt

  test:
    runs-on: ubuntu-latest
    needs:
      - build-versioned-deps
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: requirements.txt

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Add password
        run: echo "$USER_PASSWORD" > user-password.py
        env:
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}

      - name: Test
        run: python -m pytest --simulate

      - name: Upload coverage
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: py-${{ matrix.python-version }}
          parallel: true

  coverage-finish:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: requirements.txt

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Upload coverage
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: cov-finish
          parallel: true
          parallel-finished: true
